{% extends 'account_base.html'%}
{% load static %}
{% block title%}Edit account info{% endblock%}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-sm-12 col-lg-8">
            <div class="card shadow">
                <div class="card-header">
                    <div class="card-text text-center">
                        <h2>Change Password</h2>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary text-center" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}